[submodule "meta-tpm2"]
	path = meta-tpm2
	url = https://github.com/jiazhang0/meta-tpm2.git
[submodule "meta-tpm"]
	path = meta-tpm
	url = https://github.com/jiazhang0/meta-tpm.git
[submodule "meta-exploitation"]
	path = meta-exploitation
	url = https://jiazhang0@github.com/jiazhang0/meta-exploitation.git
